<Layouts.flash_group flash={@flash} />
<div class="w-full flex flex-col">
  <div class="flex-1 border-b border-slate-600 py-2">
    <h1 class="text-3xl m-2 w-full text-center m-auto"> JIGSAW DEMO </h1>
  </div>
  <div class="w-full flex h-dvh">
    <aside class="border-r border-slate-600">
      <ul>
        <li class="m-2 rounded-md p-2 hover:bg-slate-400"> Terminal </li>
        <li class="m-2 rounded-md p-2 hover:bg-slate-400"> Music Player </li>
        <li class="m-2 rounded-md p-2 hover:bg-slate-400"> About Page </li>
      </ul>
    </aside>

    <div class="flex-1  m-2 border border-slate-600 rounded-sm">
      <JigsawComponents.Components.layout>
        <:pane id="root" hidden={false}>
          <div> This is a test root </div>
          </:pane>
      </JigsawComponents.Components.layout>
    </div>
  </div>
</div>
